{% extends "layout.twig" %}
{% block content %}

    <div class="home-presentation">
    	<div class="h3">
    	<h3> Présentation personnelle </h3>
    	</div>
    	<div class="home-text">
    	<p> Je m'appelle Umay SAHIN, j'ai 21 ans et je suis étudiante en BTS SIO (Services Informatiques aux Organisations) option SLAM. Après le BAC S, obtenu en 2015, je me suis orientée vers une école d'ingénieur en génie mécanique, formation pendant laquelle j'ai découvert le développement. C'est ainsi que d'après de nombreuses recherches, je suis tombé sur l'option SLAM du BTS SIO. <br>
        J'ai pour but, après le BTS, de continuer dans une licence professionnelle "ACoRS" (Animateurs de Comunautés et Réseaux Sociaunumérique) afin de découvrir une nouvelle branche des métiers de l'informatique. Je compte par la suite enchaîner en Master.
    	</p>
    	</div>
    </div>

    <div class="home-bts">
    <div class="h3">
    	<h3> Le BTS SIO option SLAM </h3>
    	</div>
    	<div class="home-text">
    	<p> 
        Le BTS Services Informatiques aux Organisations, avec l'option Solutions Logicielles et Applications Métiers (SLAM) est une formation ouverte à la majorité des baccalauréats surtout les technologiques et les professionnels avec des options de développement de logiciel, de site web et d'application. <br>
        Cette formation est déstinée aux étudiants passionés de développements mais également aux débutants, on y vera pour les deux une certaine évolution. En plus du tronc commun, le futur développeur apprendra au cours de cette formation une mutitude de langages pour une multidude d'utilisations. <br>
        Les diplomés deviennent par la suite : développeur (de logiciel, d'applications, de site web), analyste, programmeur, etc.
    	</p>
    	</div>
    </div>

    <div class="home-cv">
        <div class="h3">
    	<h3> Curriculum Vitae </h3>
    	</div>
    	   <div class="cv-link"> <a href="/pdf/cv.pdf" download> Télécharger le CV </a>
    	   </div>
        	<div class="home-text"> 
            <iframe class="cvperso" src="/pdf/cv.pdf" style="width:99%; height:600px; align: center;"></iframe>
        	</div>
    </div>

{% endblock %}