{% extends "layout.twig" %}
{% block content %}

	<div class="contact-title">
        <h3 class="h3"> Liens externes </h3>
        <div class="home-text">
        	<div class="link-text">
        	<a class="linkedin" href="https://fr.linkedin.com/in/umay-sahin-8074a014a"> Linkedin </a> <br>

        	<a class="github" href="https://github.com/uumays"> GitHub </a>
			</div>

			<div class="img-site">
					<a href="https://pizzanuova.fr/" target="_blank"> <img src="/styles/images/pizzanuova.PNG"> </a>
				
					<a href="https://pole-game.fr/" target="_blank"> <img src="/styles/images/polegame.PNG"> </a>
				</div>
			</div>
        </div>
    </div>
{% endblock %}